<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Content</title>
  <link rel="stylesheet" href="./learner-module.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" />
  <link rel="shortcut icon" href="./resources/Logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="./Bootstrap/css/bootstrap.css">
</head>

<body>

  <% if(user=="instructor" ) { %>
    <%- include("partials/instructor-navbar.ejs") -%>
      <% } %>
        <% if(user=="learner" ) { %>
          <%- include("partials/learner-navbar.ejs") -%>
            <% } %>
              <br><br>


              <div class="heading">
                <div class="course">
                  <h1 class="haha">Data Structures and Algorithms</h1>
                  <h4 class="haha">-</h4>
                  <h4 class="haha">13 Sections</h4>
                </div>
              </div>
              <!-- <div class="carousel">
                <div class="owl-carousel owl-theme">
                  <div class="item">
                    <div class="square">
                      <div class="content">
                        <div class="sr"><i class="fa-solid fa-1"></i></div>
                        <% if(user=="learner") { %>
                          <div class="C_progress">DONE</div>
                          <% } %>
                            <div class="week">Week 1</div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="square">
                      <div class="content">
                        <div class="sr"><i class="fa-solid fa-2"></i></div>
                        <% if(user=="learner" ) { %>
                          <div class="C_progress">76%</div>
                          <% } %>
                            <div class="week">Week 2</div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="square">
                      <div class="content">
                        <div class="sr"><i class="fa-solid fa-3"></i></div>
                        <% if(user=="learner" ) { %>
                          <div class="C_progress">0%</div>
                          <% } %>
                            <div class="week">Week 3</div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="square">
                      <div class="content">
                        <div class="sr"><i class="fa-solid fa-4"></i></div>
                        <% if(user=="learner" ) { %>
                          <div class="C_progress">0%</div>
                          <% } %>
                            <div class="week">Week 4</div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="square">
                      <div class="content">
                        <div class="sr"><i class="fa-solid fa-5"></i></div>
                        <% if(user=="learner" ) { %>
                          <div class="C_progress">0%</div>
                          <% } %>
                            <div class="week">Week 5</div>
                      </div>
                    </div>
                  </div>

                </div> -->
              <!-- </div> -->
              <!-- <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Day 1
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div>
                        <div class="row">
                          <div class="col-4 order-xs-4 text-left">
                            <button class="meet" onclick="openForm()">
                              <% if(user=="instructor" ) { %>
                                Add
                                <% } %>
                                  Lecture Link <i class="fa-solid fa-video"></i>
                            </button>
                            <div class="loginPopup">
                              <div class="formPopup" id="popupForm">
                                <form action="" class="formContainer">
                                  <label for="link">Add Lecture Link</label><br>
                                  <input type="text" id="link" placeholder="Add Lecture Link" name="link" required>
                                  <button type="submit" class="btn cancel">Submit</button>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div class="col-4 order-xs-4 text-center">
                            <button class="meet">
                              <% if(user=="instructor" ) { %>
                                Add
                                <% } %>
                                  HomeWork <i class="fa-solid fa-house-laptop"></i>
                            </button>
                          </div>
                          <div class="col-4 order-xs-4 text-end">
                            <% if(user=="instructor" ) { %>
                              <a href="instructor-homeworklist"><button class="meet">Check HomeWork <i
                                    class="fa-solid fa-clipboard-check"></i></button></a>
                              <% } %>
                                <% if(user=="learner" ) { %>
                                  Score : 60
                                  <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Day 2
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <h5>Arrays-Create an Array</h5>
                      <div>
                        <div class="row">
                          <div class="col-4 order-xs-4 text-left">
                            <button class="meet">Add Lecture Link <i class="fa-solid fa-video"></i></button>

                          </div>
                          <div class="col-4 order-xs-4 text-center">
                            <button class="meet">Add HomeWork <i class="fa-solid fa-house-laptop"></i></button>
                          </div>
                          <div class="col-4 order-xs-4 text-end">

                            <a href="instructor-homeworklist"><button class="meet">Check HomeWork <i
                                  class="fa-solid fa-clipboard-check"></i></button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingthree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapsethree" aria-expanded="false" aria-controls="flush-collapsethree">
                      Day 3
                    </button>
                  </h2>
                  <div id="flush-collapsethree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <h5>Arrays-Create an Array</h5>
                      <div>
                        <div class="row">
                          <div class="col-4 order-xs-4 text-left">
                            <button class="meet">Add Lecture Link <i class="fa-solid fa-video"></i></button>

                          </div>
                          <div class="col-4 order-xs-4 text-center">
                            <button class="meet">Add HomeWork <i class="fa-solid fa-house-laptop"></i></button>
                          </div>
                          <div class="col-4 order-xs-4 text-end">

                            <a href="instructor-homeworklist"><button class="meet">Check HomeWork <i
                                  class="fa-solid fa-clipboard-check"></i></button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingfour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                      Day 4
                    </button>
                  </h2>
                  <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <h5>Arrays-Create an Array</h5>
                      <div>
                        <div class="row">
                          <div class="col-4 order-xs-4 text-left">
                            <button class="meet">Add Lecture Link <i class="fa-solid fa-video"></i></button>

                          </div>
                          <div class="col-4 order-xs-4 text-center">
                            <button class="meet">Add HomeWork <i class="fa-solid fa-house-laptop"></i></button>
                          </div>
                          <div class="col-4 order-xs-4 text-end">

                            <a href="instructor-homeworklist"><button class="meet">Check HomeWork <i
                                  class="fa-solid fa-clipboard-check"></i></button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                      Day 5
                    </button>
                  </h2>
                  <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <h5>Arrays-Create an Array</h5>
                      <div>
                        <div class="row">
                          <div class="col-4 order-xs-4 text-left">
                            <button class="meet">Add Lecture Link <i class="fa-solid fa-video"></i></button>

                          </div>
                          <div class="col-4 order-xs-4 text-center">
                            <button class="meet">Add HomeWork <i class="fa-solid fa-house-laptop"></i></button>
                          </div>
                          <div class="col-4 order-xs-4 text-end">

                            <a href="instructor-homeworklist"><button class="meet">Check HomeWork <i
                                  class="fa-solid fa-clipboard-check"></i></button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                      Day 6
                    </button>
                  </h2>
                  <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <h5>Arrays-Create an Array</h5>
                      <div>
                        <div class="row">
                          <div class="col-4 order-xs-4 text-left">
                            <button class="meet">Add Lecture Link <i class="fa-solid fa-video"></i></button>

                          </div>
                          <div class="col-4 order-xs-4 text-center">
                            <button class="meet">Add HomeWork <i class="fa-solid fa-house-laptop"></i></button>
                          </div>
                          <div class="col-4 order-xs-4 text-end">

                            <a href="instructor-homeworklist"><button class="meet">Check HomeWork <i
                                  class="fa-solid fa-clipboard-check"></i></button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

              <% records.forEach(function(row){ %>
                <div class="row rowl">
                    <div class="col-3 overflow-auto">
                        <%= row.topicName %>
                    </div>
                    <a class="col-5 overflow-auto">
                    <%= row.lectureLink %>
                    </a>
                    <a class="col-2 overflow-auto">
                    <%= row.homeworkLink %>
                    </a>
                </div>
            <% })%>
              
               
              <button id="addday">Add day</button>
              <div class="loginPopup">
                <div class="formPopup" id="popupForm">
                  <form action="" class="formContainer">
                    <label for="link">Add Lecture Link</label><br>
                    <input type="text" id="link" placeholder="Add Lecture Link" name="link" required>
                    <label for="link">Add Homework</label><br>
                    <input type="text" id="homework" placeholder="Add Homework" name="homework" required>
                    <button type="submit" class="btn cancel" id="submit">Submit</button>
                  </form>
                </div>
              <!-- <%- include("partials/footer.ejs") -%> -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
                  crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
                  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
                  crossorigin="anonymous"></script>
                <script>
                  $('.owl-carousel').owlCarousel({
                    loop: true,
                    nav: true,
                    margin: 10,
                    navSlide: true,
                    dots: false,
                    stagePadding: 0,
                    responsive: {
                      0: {
                        items: 1
                      },
                      500: {
                        items: 3
                      },
                      800: {
                        items: 5
                      },
                      1000: {
                        items: 7
                      }
                    }
                  })</script>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                  crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                  crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                  crossorigin="anonymous"></script>
                <script src="https://kit.fontawesome.com/e4a36e3b16.js" crossorigin="anonymous"></script>
                <script src="./Bootstrap/js/bootstrap.js"></script>
                <script src="./javascripts/module.js"></script>
</body>

</html>